@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container {
  max-width: 1400px;
  z-index: 99;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.navbar {
  width: 100%;
  height: 20%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 60px;
}

.nav-list li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.body div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.details {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.details div {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: baseline;
}

.nav-list li {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.title,
.buttion-cap {
  color: var(--Grayish-Blue);
  font-weight: 400;
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.buttion-cap {
  width: 50%;
}

.title-bg {
  background: black;
  color: white;
  border-radius: 20rem;
  padding: 0 10px;
  letter-spacing: 0;
}

.main-header {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--Very-Dark-Blue);
}

.context {
  color: var(--Dark-Grayish-Blue);
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

button {
  width: 50%;
  margin-right: 10px;
  color: white;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--Red);
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  filter: brightness(120%);
}
.device {
  position: relative;
  right: -40%;
  width: 150%;
}
#menu-open,
#menu-close {
  display: none;
}

.btn {
  display: flex;
  flex-direction: row !important;
  width: 100%;
}

/* mobile menu */
#mobile-menu {
  display: none;
  background: white;
  position: absolute;
  right: 0;
  top: 150%;
  left: 0;
  z-index: 99;
  padding: 30px 0;
  box-shadow: 0 0 5px gray;
}

.mobile-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  font-weight: 700;
  color: var(--Very-Dark-Blue);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}

.login {
  color: var(--Dark-Grayish-Blue);
}

hr {
  width: 90%;
  color: var(--Light-Grayish-Blues);
}
@media screen and (max-width: 600px) {
  #menu-open {
    display: block;
  }

  /* .container {
    gap: 10px;
  } */
  .nav-list {
    display: none;
  }
  .body {
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .body div {
    width: 100%;
  }
  .details,
  .device {
    width: 100%;
  }
  .device {
    position: relative;
    right: -20%;
    width: 150%;
  }

  .main-header {
    font-size: 2.8rem;
  }

  .buttion-cap {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
    padding: 10px 17px;
  }
}

